* {
  padding: 0px;
  margin: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
  list-style-type: none;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

body {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 150px auto;
}

.sidebar {
  background: #0ea5e9;
  grid-row: 1 / 3;
  padding-left: 15px;
  padding-top: 15px;
  color: white;
  font-weight: bolder;
  z-index: 2;
}

.sidebar__logo {
  font-size: larger;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%;
}

.sidebar__main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sidebar img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.nav {
  background: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px 5% 10px;
  z-index: 1;
  box-shadow: 0px 0px 7px grey;
}

.nav__top,
.nav__bottom,
.nav__bottom div {
  display: flex;
  align-items: center;
}

.nav__top div {
  display: flex;
}

.nav__top {
  justify-content: space-between;
}

.nav__searchbar input {
  -webkit-appearance: none;
  appearance: none;
  border: 0px;
  border-radius: 15px;
  background-color: skyblue;
  margin-left: 10px;
  padding: 5px;
}

.nav__notification-bar {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav__notification-bar img,
.nav__bottom img {
  border-radius: 50%;
}

.nav__notification-bar p {
  font-size: 20px;
  font-weight: bolder;
}

.nav__bottom div {
  display: flex;
  gap: 10px;
}

.nav .nav__name {
  display: grid;
  grid-template-rows: 5px 15px;
}

.nav__introduction {
  font-size: 10px;
  font-weight: bolder;
}

.nav__username {
  font-size: 20px;
  font-weight: bolder;
}

.nav__bottom {
  justify-content: space-between;
}

.nav__bottom button {
  background-color: #0ea5e9;
  width: 100px;
  height: 30px;
  border-radius: 16px;
  color: white;
  font-weight: bolder;
  border: 0px;
}

.content {
  background: lightgrey;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.content__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10px 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.content__header {
  grid-column: 1 / 3;
  margin-bottom: -10px;
  font-size: 20px;
}

.content__cards p {
  background-color: red;
}

.content__news { 
  display: grid;
  grid-template-rows: 30px 1fr 30px 1fr;
  padding: 20px;
}

.content__news .card {
  background: red;
  margin-bottom: 20px;
}
