* {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

body {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 150px auto;
}

.sidebar {
  background: #0ea5e9;
  grid-row: 1 / 3;
  padding-left: 15px;
  padding-top: 15px;
  color: white;
  font-weight: bolder;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.logo {
  font-size: larger;
}


.sidebar .main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sidebar img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.logo {
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%;
}

.nav {
  background: gray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.nav .top,
.nav .bottom,
.nav .bottom div {
  display: flex;
  align-items: center;
}

.nav .top div {
  display: flex;
  gap: 10px;
}

.nav .top {
  justify-content: space-between;
}

.nav .bottom div {
  display: flex;
  gap: 10px;
}

.nav .bottom .name {
  display: grid;
  grid-template-rows: 5px 15px;
}

.introduction {
  font-size: 12px;
}

.username {
  font-size: 20px;
}

.nav .bottom {
  justify-content: space-between;
}

.content {
  background: green;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10px 1fr 1fr 1fr;
  padding: 20px;
  gap: 50px;
}

.cards .header {
  grid-column: 1 / 3;
  margin-bottom: -40px;
  font-size: 30px;
}

.cards p {
  background-color: red;
}

.news { 
  display: grid;
  grid-template-rows: 30px 1fr 30px 1fr;
  padding: 20px;
}

.news .card {
  background: red;
  margin-bottom: 20px;
}
